@using OgrenciNotMvc.Models.Entity
@model List<TBLDERSLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>DERS ID</th>
        <th>DERS ADI</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach (var drs in Model)
        {
        <tr>
            <td>@drs.DERSİD</td>
            <td>@drs.DERSAD</td>
            <td>
                <a href="/Default/Sil/@drs.DERSİD" class="btn btn-danger">SİL</a>
                <a href="/Default/DersGetir/@drs.DERSİD" class="btn btn-success">GÜNCELLE</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a href="/Default/YeniDers" class="btn btn-primary">Yeni Ders</a>

